@import './utils/Colors.sass'
@import './utils/Fonts.sass'
@import './utils/Reset.sass'
@import './utils/Typography.scss'
@import './utils/Variables.sass'
@import './utils/Mixins.sass'
  
body
  background: rgba(255,255,255,.9)
  overflow: hidden 
  margin: 0
  padding: 0
